.header {
	background :url("https://i.imgur.com/UA4eDmg.jpg");
	width: 100%;
	height: 900px;
}

header {
	font-family: 'Headland One', serif;
    font-size: 120px;
    position: relative;
    text-align: center;
    top: 370px;
    margin: 0px 400px 0px 400px;
    background: ghostwhite;
    opacity: 0.75;
    text-shadow: -6px -2px 22px;
}

.about {
	background-color: #081730;
	float:left;
}

p#about {
	font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 20px;
    clear: both;
    color: #ffcc00;
    float: left;
    opacity: 0.8;
    font-weight: bolder;
    letter-spacing: 4px;
    line-height: 35px;
    margin-left: 116px;

}

.container-fluid {
	margin-bottom: 0px;

}

#selfie {
	width:400px;
	height: 400px;
	border-radius: 200px;
	opacity: 0.6;
}



.photo {
	width: 90%;
	margin: 0 auto;
}

#aboutme {
	float:left;
}

.about{
	width: 100%;
	height: 900px;
	margin: 0 auto;
}

#Me {
	margin-top: 219px;
}

.experience {
	margin-top: 1200px;
    margin-left: 200px;
    width: 77%;
}

.col-6 col-md-6 {
	height: 900px;
}




.justify-content-center {
	float: left;
}

#skills {
	font-weight: bold;
	font-size: 12px;
}

 {
	text-align: center;
}

.footer {
	 width: 75%;
    left: 763px;
    position: relative;
    top: 400px;

}



@media screen and (max-width: 980px) {

 header {
	width: 56%;
    margin-left: 187px;
	}

	.about {
		width: 100%;
    height: 1200px;
    
	}

	#Me {
		    width: 100%;
    margin-left: -109px;
    margin-top: 20px;
	}

    #selfie {
    	float: right;
    }

    .experience{
    	position: absolute;
    top: 1060px;
    }

    .footer{
    	    position: relative;
    left: 350px;
    }
	

}

